# Build artifacts
build/
DerivedData/

# Xcode user-specific data
*.xcuserstate
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata
*.xcuserdatad
*.xcuserdata

# Ignore workspace UI config
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
TimerTool/TimerTool.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Keep shared schemes
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/xcschemes/
!*.xcodeproj/xcshareddata/xcschemes/*.xcscheme

# OS / Editor noise
.DS_Store
.idea/
*.orig
